<!DOCTYPE html>
<html>
   <head>
    <title>やさいくメモ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
     <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://school.oohara.jp/takase/jquery.bgswitcher.js"></script>
  <script>
jQuery(function($) {
    $('.bg-slider').bgSwitcher({
        images: ['https://school.oohara.jp/takase/child-vege.jpg','https://school.oohara.jp/takase/cucumber.jpg','https://school.oohara.jp/takase/tomato.jpg','https://school.oohara.jp/takase/corn.jpg','https://school.oohara.jp/takase/eggplant.jpg','https://school.oohara.jp/takase/white-radish.jpg'],
      interval: 5000, // 背景画像を切り替える間隔を指定 3000=3秒
      effect: "fade",// 切り替える背景画像を指定します。
      duration: 1000, // エフェクトの時間を指定します。
      easing: "swing" // エフェクトのイージングをlinear,swingから指定
    });
});

  </script>

  </head>

  <body>
    <div class="bg-slider">
        <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">やさいくメモ　～野菜の育児　楽しく忘れずメモで～</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/new">新規メモ</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">カテゴリ一覧 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% @categories.each do |category| %>
                <li><a href="/categories/<%= category.id %>"><%=category.name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
